<section class="portfolio">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-10 text-center">
          <div class="btn-group btn-group-toggle " data-toggle="buttons">
            <label class="btn active ">
              <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Recipes
            </label>
            {{ $categories := slice }}
            {{ range (where .Site.RegularPages "Type" "recipes") }}
            {{ $categories = $categories | append .Params.Categories }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <label class="btn">
              <input type="radio" name="shuffle-filter" value="{{ . | urlize }}"/>{{ . | humanize }}
            </label>
            {{ end }}
          </div>
        </div>
      </div>
  
      <div class="row shuffle-wrapper portfolio-gallery">
        {{ range (where .Site.RegularPages "Type" "recipes")}}
        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;{{ index .Params.Categories 0 | urlize }}&quot;]">
  
        
          <div class="position-relative inner-box">
            <div class="image position-relative">
              <img src="{{ .Params.Image | absURL }}" alt="portfolio-image" class="img-fluid w-100 d-block">
              <div class="overlay-box">
                <a class="portfolio-image popup-gallery" href="{{ .Params.Image | absURL }}">
                  <i class="ti-plus"></i>
                </a>
                <div class="overlay-inner">
                  <a class="overlay-content" href="{{ .Permalink }}">
                    <h5 class="mb-0">{{ .Title }}</h5>
                    <p class="mt-1"> <strong> {{ index .Params.Categories 0 | humanize }}</strong></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>